@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

header {
  background-color: #373f49;
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
}
.logo {
  text-decoration: none;
  color: rgb(251, 251, 255);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em;
}
.navigation a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30px;
}
.navigation a:hover {
  background-color: #373f49;
}
section {
  padding: 100px 200px;
}
.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(images/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.main h2 {
  color: rgb(224, 224, 224);
  font-size: 1.4em;
  font-weight: 500;
}
.main h2 span {
  display: inline-block;
  margin-top: 20px;
  color: rgb(224, 224, 224);
  font-size: 3em;
  font-weight: 700;
}
.main h6 {
  color: rgb(224, 224, 224);
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.main-btn {
  color: #ffffff;
  background-color: #373f49;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  display: inline-block;
  padding: 0.9376em 2.1975em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 40px;
  transition: 0.9s ease;
}
.main-btn:hover {
  background-color: rgb(0, 0, 0);
  transform: scale(1.1);
}
.social-icons a {
  color: #ffffff;
  font-size: 1.8em;
  padding-right: 30px;
}

.title {
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}
.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  background-color: #ffffff;
  width: 21.25em;
  box-shadow: 0 5px 25px rgba(1, 1, 1, 0.15);
  border-radius: 10px;
  padding: 25px;
  margin: 16px;
}

.card:hover {
  transform: scale(1.1);
  transition: 0.9s ease;
  background-color: rgb(180, 180, 180);
}
.icon {
  color: #373f49;
  font-size: 8em;
  text-align: center;
}
.info {
  text-align: center;
}
.info h3 {
  color: rgb(0, 0, 0);
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}

.more-details {
  text-decoration: none;
  color: rgb(226, 232, 247);
}
.content .icon {
  font-size: 4.5em;
}
.contact .info h3 {
  color: #000000;
}
.contact .info p {
  font-size: 0.8em;
}
.footer {
  background-color: #373f49;
  color: 6fadff;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}
.footer-title {
  font-size: 1.3em;
  font-weight: 600;
}
.footer-title span {
  color: rgb(255, 255, 255);
}
.project-image {
  opacity: 0.9;
}

.project-image img {
  width: 100%;
}
